@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fdfdfd;

  --text-primary-color: #2e2e2e;
  --text-secondary-color: #b6b6b6;

  /* --primary-color: #4939FF; */
  --primary-color: #3fc2c4;
  --secondary-color: #ffffff;

  --warning-color: #c4413f;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

#root {
  height: 100vh;
}

.main {
  padding-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5rem;
}

.workoutDetail {
  /* padding-left: 1.5em;
  padding-right: 1.5rem;
  padding-bottom: 3.5rem; */
}

.link:link,
.link:visited,
.link:hover,
.link:active,
.link {
  text-decoration: none;
  color: initial;
}
