

.presetsRow{
   display: flex;
   flex-direction: row; 
   justify-content: space-between;
   margin: 0 1rem;
   align-items: center;
}



.presetExerciseThumbnail{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;

    padding: 1em;
    padding-right: 1.5em;

    font-family: 'Inter', sans-serif;

    border-radius: 1em;

    margin: 1em 0;
    margin-right: 1rem;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

    height: 5rem;
}

.presetExerciseThumbnail .exerciseName{
    margin-bottom: 0;
    word-wrap: break-word;
}

.loadBtn{
    text-align: center;
}
